<div class="card-body">
    <h5>Stream Automation via the W3Booster Event-System</h5>
    <div class="alert alert-primary" role="alert">
        You can use the Event-System to automate your stream. Let W3Booster switch your scenes or toggle sources based on events like WC3 Bootup or a starting game.
      </div>

      Select your recording software:

      <div>
        <img src="assets/images/3rd-party/streamlabs.png" style="width: 200px"/>
    </div>

    <div>
        <img src="assets/images/3rd-party/obs.png" style="width: 200px"/>
    </div>

      <button></button>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <span style="font-size: 18px; font-weight:bold; vertical-align: middle">
                        Match Bar (Stats, Player Names, Gametime) </span>
                </div>
            </div>
        </div>
    </div>
</div>